body {
  background: #3FB8AF;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  max-width: 60em;
  margin: 0 auto;
}

.column1 {
  float: left;
  width: 40%;
}

.column2 {
  float: left;
  width: 60%;
}

h1 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 4em;
  font-weight: normal;
  margin-top: 0.2em;
}

img {
  border-radius: 0.5em;
  border: 0.5em solid #FF3D7F;
  margin-top: 1em;
}

.ingredients {
  font-size: 2em;
}

.ingredients i {
  color: #FF3D7F;
}

.intro {
  font-size: 1.2em;
  font-style: italic;
  margin-top: 1em;
}

.footer {
  clear: both;
  margin: 0em auto;
  text-align: center;
}

.outro {
  text-align: center;
  margin-bottom: 3em;
}

.outro a {
  color: #333;
  font-style: italic;
  font-size: 2em;
  text-decoration: none;
  border-bottom: 3px solid #FF3D7F;
}

.outro a:hover {
  color: #FF9E9D;
}

.buttons a {
  font-size: 2em;
  background-color: #FF9E9D;
  color: #333;
  text-decoration: none;
  font-style: italic;
  text-align: center;
  padding: 1em;
  margin: 0 1em;
  border-radius: 0.2em;
  cursor: default;
} 

a.disabled {
  border-bottom: none;
}

.buttons {
  padding: 6em 0;
}

.button-container {
  display: inline-block;
}

.buttons .button-container a {
  cursor: auto;
}

.buttons .button-container a:hover {
  border-style: inset;
}

a.miam {
  background-color: #FF9E9D;
}

.button-container a.miam {
  border: 1px outset #FF9E9D;
  border-bottom: 0.3em outset #FF9E9D;
}

a.bof {
  background-color: #DAD8A7;
}

.button-container a.bof {
  border: 1px outset #DAD8A7;
  border-bottom: 0.3em outset #DAD8A7;
}

a.beurk {
  background-color: #7FC7AF;
}

.button-container a.beurk {
  border: 1px outset #7FC7AF;
  border-bottom: 0.3em outset #7FC7AF;
}

@media (max-width: 56em) {
  .column1 {
    clear: both;
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .column2 {
    clear: both;
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .column2 ul {
    text-align: left;
    max-width: 31em;
    margin: 0 auto;
    margin-left: 2em;
  }
}

/* Popup */
.help-button {
  font-size: 4em;
  padding: 0.3em;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  position: fixed;
  top: 0;
  right: 0;
}
.help-button:hover {
  color: rgba(0, 0, 0, 0.9);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 5em auto;
  padding: 2em;
  background: #fff;
  border-radius: 0.5em;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 2em;
}
.popup .close {
  position: absolute;
  top: 0.4em;
  right: 1em;
  transition: all 200ms;
  font-size: 3em;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 50%;
  overflow: auto;
  font-size: 1.2em;
  
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
